*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset básico */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Imagens e mídias responsivas */
img, video {
  max-width: 100%;
  display: block;
}